<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
{{>header}}
<p> This site was created by {{name}} and uses some other shit</p>
<img src="/img/stockphotograndma.jpg">
<p>{{text}}</p>
{{>footer}}
</body>
</html>
